
.logo {
  display: flex;
  justify-content: center;
  // align-items: center;
  .logo_img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
  h1 {
    color: var(--grey-700);
    color: var(--light-blue);
    font-size: 4rem;
    font-weight: bold;
    font-family: var(--logo);
    font-style: italic;

    .s {
      letter-spacing: -1px;
    }
    .k {
      letter-spacing: -4px;
    }
    .y {
      font-weight: lighter;
      letter-spacing: -2px;
    }
    .i {
      letter-spacing: -1px;
    }
    .n {
      text-shadow: 2px 0 #f92468;
    }
  }
  p {
    font-weight: bold;
    color: var(--grey-900);
    font-size: 16px;
    position: relative;
    bottom: 6px;
    left: 25px;
    font-family: var(--tag);
  }
}