.sel-display {
  @include width-auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  &_img {
    max-width: 50rem;
    @include respond(noteBook1200mx) {
      max-width: 40rem;
    }
    @include respond(tab900mx) {
      max-width: 60rem;
    }
  }
  &_text {
    max-width: 50rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(noteBook1200mx) {
      max-width: 40rem;
      padding: 1rem;
    }
    @include respond(tab900mx) {
      max-width: 60rem;
    }
    h2 {
      font-size: 5rem;
      font-weight: 700;
      @include respond(noteBook1200mx) {
        font-size: 3rem;
      }
    }
  }
  .btn {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
}
