@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Lato&family=Montserrat:wght@400;500;600;700;800;900&family=Noto+Sans:wght@400;600&family=Poppins:wght@400;500;600;700&family=Yeseva+One&display=swap');

:root {
  --grey-50: #f8f9fc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  /* font */
  --grey-900: #0f172a;
  /* for H1 */
  --light-blue: #415e87;
  /* special */
  --black: #222222;
  --white: #ffffff;
  --red-white: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts default */
  --logo: 'Yeseva One', cursive;
  --tag: 'Comfortaa', cursive;
  --head: 'Montserrat', sans-serif;
  --content: 'Poppins', sans-serif;
  --sub-content: 'Lato', sans-serif;

  --borderRadius: 0.4rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 80%;
  --fixed-width: 60rem;
  --smallText: 1.3rem;

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
