@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Lato&family=Montserrat:wght@400;500;600;700;800;900&family=Noto+Sans:wght@400;600&family=Poppins:wght@400;500;600;700&family=Yeseva+One&display=swap");
:root {
  --grey-50: #f8f9fc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  /* font */
  --grey-900: #0f172a;
  /* for H1 */
  --light-blue: #415e87;
  /* special */
  --black: #222222;
  --white: #ffffff;
  --red-white: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* fonts default */
  --logo: "Yeseva One", cursive;
  --tag: "Comfortaa", cursive;
  --head: "Montserrat", sans-serif;
  --content: "Poppins", sans-serif;
  --sub-content: "Lato", sans-serif;
  --borderRadius: 0.4rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 80%;
  --fixed-width: 60rem;
  --smallText: 1.3rem;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 1 rem = 10px */
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 110em) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--grey-50);
  font-family: var(--sub-content);
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--head);
}

h1 {
  font-weight: 900;
  font-size: 5rem;
  color: var(--light-blue);
}

h2 {
  font-weight: 800;
  font-size: 4rem;
  color: var(--grey-700);
}

h3 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--grey-800);
  line-height: 1.2;
}

h4 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.3;
  color: var(--grey-900);
}

p {
  font-family: var(--content);
  font-size: 1.7rem;
  line-height: 1.4;
  color: var(--black);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

button {
  /* basic */
  font-family: var(--tag);
  font-size: 1.6rem;
  display: inline-block;
  text-transform: capitalize;
  border: transparent;
  padding: 0.75rem 1.5rem;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
}

.u-note {
  font-family: var(--sub-content);
  font-size: 1.6rem;
  line-height: 1.2;
  color: var(--red-dark);
}

.u-btn {
  /* customize */
  background: var(--grey-800);
  color: var(--white);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}

.u-btn:hover {
  background: var(--grey-600);
  box-shadow: var(--shadow-3);
}

/* form */
.u-form {
  margin: 3rem auto;
  width: 60vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
}
.u-form label {
  display: block;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
}
.u-form input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  margin-bottom: 2rem;
  font-family: var(--sub-content);
  font-size: var(--smallText);
  line-height: 1.2;
  color: var(--grey-500);
  font-style: italic;
}

.top-text {
  margin: 0 auto;
  max-width: 80%;
  margin-top: 2rem;
}

.flex-cont-header {
  margin: 0 auto;
  max-width: 80%;
}
.flex-cont-header h1 {
  margin-top: 2rem;
}

.basic-flex-box-container {
  background-color: #c2b2b2;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.basic-flex-box-container .item {
  padding: 3rem;
  margin: 0 3rem;
  background-color: #f98e8e;
  font-size: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .basic-flex-box-container .item {
    margin-bottom: 3rem;
  }
}
.basic-flex-box-container .i3 {
  font-size: 10rem;
  flex: 0 1 20%;
}
.basic-flex-box-container .i5 {
  align-self: flex-end;
  order: -1;
  flex-basis: 20%;
}
.basic-flex-box-container .i4 {
  order: -2;
  flex: 1;
}

.grid-title {
  margin: 0 auto;
  max-width: 80%;
}
.grid-title h1 {
  margin-top: 4rem;
}
.grid-title p {
  margin-bottom: 4rem;
  text-transform: uppercase;
}

.grid-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 2rem;
  background-color: #c6bfc6;
  display: grid;
  grid-template-columns: 1fr 2fr 40%;
  grid-template-rows: repeat(2, 10rem);
  grid-row-gap: 4rem;
  grid-column-gap: 3rem;
  grid-gap: 3rem;
}
.grid-container .item {
  background-color: #fdacac;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.grid-container .item-1 {
  grid-row: 1/3;
  grid-column: 2/4;
  background-color: #b9f5f5;
  color: #000;
}
.grid-container .item-2 {
  grid-column: 1/-1;
}
.grid-container .item-6 {
  grid-row: 1/3;
  grid-column: 1/2;
}

.grid-challange {
  margin: 0 auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.75fr;
  grid-template-rows: 0.75fr 1fr 3fr 0.75fr;
  grid-gap: 3rem;
}
.grid-challange > * {
  background-color: #dcd5d5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #242323;
  padding: 3rem;
}
.grid-challange .header {
  grid-column: 1/-1;
}
.grid-challange .sidebar {
  grid-row: 2/4;
  grid-column: 4/5;
}
.grid-challange .main-content {
  grid-column: 1/4;
}
.grid-challange .footer {
  grid-column: 1/-1;
}

.grid-implicit {
  margin: 0 auto;
  max-width: 80%;
  background-color: rgb(228, 220, 220);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 15rem);
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 15rem);
  justify-content: space-between;
  align-items: center;
}
.grid-implicit .grid-allign {
  background-color: #f8c7c7;
  font-size: 3rem;
  padding: 2rem;
}
.grid-implicit .grid-allign-4 {
  background-color: #fff;
  grid-column: 1/2;
  grid-row: 2/4;
}

.grid-max-min {
  margin: 0 auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: min-content repeat(3, 1fr);
  grid-template-rows: min-content 10rem;
  grid-gap: 3rem;
}
.grid-max-min .minMax {
  background-color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: large;
  text-transform: uppercase;
}
.grid-max-min .minMax-1 {
  padding: 2rem;
  background-color: #efcccc;
}

.grid-auto-fit-fill {
  margin: 0 auto;
  max-width: 80%;
  display: grid;
  grid-gap: 3rem;
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.grid-auto-fit-fill .gridAuto {
  padding: 2rem;
  background-color: #dedada;
  font-size: large;
  text-transform: uppercase;
}
.grid-auto-fit-fill .gridAuto-1 {
  background-color: #e4d4d4;
}

.skyinnk-logo {
  display: flex;
  justify-content: center;
}
.skyinnk-logo .logo_img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.skyinnk-logo h1 {
  color: var(--grey-700);
  color: var(--light-blue);
  font-size: 4rem;
  font-weight: bold;
  font-family: var(--logo);
}
.skyinnk-logo h1 .s {
  letter-spacing: -1px;
}
.skyinnk-logo h1 .k {
  letter-spacing: -4px;
}
.skyinnk-logo h1 .y {
  font-weight: lighter;
  letter-spacing: -2px;
}
.skyinnk-logo h1 .i {
  letter-spacing: -1px;
}
.skyinnk-logo h1 .n {
  text-shadow: 2px 0 #f92468;
}
.skyinnk-logo p {
  font-weight: bold;
  color: var(--grey-900);
  font-size: 16px;
  position: relative;
  bottom: 6px;
  left: 25px;
  font-family: var(--tag);
}

.sel-display {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sel-display_img {
  max-width: 50rem;
}
@media only screen and (max-width: 75em) {
  .sel-display_img {
    max-width: 40rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .sel-display_img {
    max-width: 60rem;
  }
}
.sel-display_text {
  max-width: 50rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .sel-display_text {
    max-width: 40rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .sel-display_text {
    max-width: 60rem;
  }
}
.sel-display_text h2 {
  font-size: 5rem;
  font-weight: 700;
}
@media only screen and (max-width: 75em) {
  .sel-display_text h2 {
    font-size: 3rem;
  }
}
.sel-display .btn {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
